<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                {"ts":"%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX}","level":"%level","service":"loglens-worker","logger":"%logger{36}","thread":"%thread","requestId":"%X{requestId}","msg":"%replace(%msg){'\"','\\\"'}"}%n
            </pattern>
        </encoder>
    </appender>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>